#solarLogo{
max-height:75px;
max-width:75px;
height:auto;
width:auto;
background-color: #000000;
}
#headerH1{
	margin: 0;
padding: 0;
background-color: DarkGray;
}
#headerH2{
	margin: 0;
padding: 0;
background-color: Gray;
}
#navBar{
margin: 0;
padding: 0;
background-color: FloralWhite;
}
#navUl{
list-style-type: none;
margin: 0;
padding: 0;	
text-align: center;
}
