html, body {
    height: 100%;
    margin: 0;
}
html {
    font-family:  'Arial', 'Helvetica', sans-serif;
}
#solarLogo{
    max-height:90px;
    max-width:700px;
    height:auto;
    width:auto;
}
#indexHeader{
    text-align: center;
    line-height: 15px;
}
#indexNav{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}
#indexNavUl{
    margin: 0px;
    padding: 10px;
    text-align: center;
}
#indexNavLi{
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}
#indexBody{
    display: flex;
    flex-wrap: wrap;

}
#indexVideo{
    width: 100%;
    max-width: 100%;
}
#indexVideoPlayer{
    width: 100%;
}
.product{
	float: right;
}
#productPhoto{
max-height:200px;
max-width:200px;
}
#indexArticle1{
        border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
#indexArticle2{
        border: 1px solid black;
      padding: 10px;
    margin: 10px;
}
#indexArticle3{
        border: 1px solid black;
      padding: 10px;
    margin: 10px;
}
#indexAside{


    flex: 1;
        padding-left: 100px;
}
#indexArticles{
    display: flex;
flex-direction: column;
    }